:root {
    --primary-font: "Montserrat", sans-serif;
    --primary-text-color: #111111;
    --secondary-text-color: #FFFFFF;
    --accent-color: #FD9222;
    --bg-color: #FCF1E0;
    --decoration-color: #FFFFFF;
}


h1,
h2,
h3,
h4,
h5,ї
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: var(--primary-font);
    background-color: #E2E2E2;
}

.container {
    max-width: 365px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 734px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1166px;        
    }
}

/* Components */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    border: transparent;    
    border-radius: 100px;
    padding: 12px 28px;
    transition: background-color 250ms linear, color 250ms linear;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--bg-color);
    color: var(--accent-color);
}

/* /Components */

/* Header */

.header {
    padding-top: 20px;
    padding-bottom: 14px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-logo-link {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    color: #111111;   
}

.header-logo-style {
    font-style: italic;
}

.header-logo-chocolate-icon {
    width: 21px;
    height: 21px;
}

.header-menu {
    display: none;
}

.header-soc-list {
    display: none;
}

.header-mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: #111111;    
}

.header-mobile-menu-open-icon {
    width: 28px;
    height: 28px;
}

.header-mobile-menu {
    position: fixed;
    width: 60%;
    height: 100%;
    max-height: 812px;
    overflow: scroll;
    top: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: #1E1823;
    transform: translate(100%, 0);
    transition: opacity 300ms linear 300ms, visibility 300ms linear 300ms, transform 300ms linear 300ms;
}

.header-mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate(0, 0);
}

.header-mobile-menu-container {
    position: relative;
    height: 100%;
    padding: 136px 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-mobile-menu-close {
    position: absolute;
    top: 20px;
    right: 15px;
    padding: 0;    
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;        
}

.header-mobile-menu-close-icon {
    width: 28px;
    height: 28px;
    stroke: #FFFFFF;   
}

.header-mobile-menu-close:hover .header-mobile-menu-close-icon,
.header-mobile-menu-close:focus .header-mobile-menu-close-icon {
    stroke: #FD9222;
}

.header-mobile-menu-list {
    margin-left: 30px;
}

.header-mobile-menu-item:not(:last-child) {
    margin-bottom: 24px;
}

.header-mobile-menu-link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    transition: color 300ms linear;
}

.header-mobile-menu-link:hover,
.header-mobile-menu-link:focus {
    color: #FD9222;
}

.header-mobile-soc-list {
    display: flex;
    gap: 18px;    
}

.header-soc-list-item {
    width: 22px;
    height: 22px;
}

.header-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    transition: color 250ms linear;
}

.header-soc-link:hover,
.header-soc-link:focus {
    color: #FD9222;
}

.header-soc-link-icon {
    stroke: currentColor;
    fill: none;
    width: 100%;
    height: 100%;

}

@media screen and (min-width: 376px) {   
    .header-mobile-menu {
            width: 220px;
        }
}

@media screen and (min-width: 768px) {

    .header {
            padding-top: 24px;
            padding-bottom: 24px;
        }


    .header-mobile-menu-open-icon {
            width: 32px;
            height: 32px;
        }

    .header-mobile-menu {    
        width: 290px;   
        max-width: 1024px;     
    }

    .header-mobile-menu-close {
        top: 24px;

    }

    .header-mobile-menu-close-icon {
        width: 32px;
        height: 32px;
    }

    .header-mobile-menu-container {
        padding: 156px 81px 24px 32px;
    }

    .header-mobile-menu-list {
        margin-left: 53px;
    }

    .header-soc-list-item {
        width: 24px;
        height: 24px;
    }
   
    
}

@media screen and (min-width: 1200px) {
    .header {
        padding-bottom: 32px;
    }

    .header-container {
        justify-content: start;
    }
    
    .header-mobile-menu-open {
        display: none;
    }

    .header-mobile-menu {
        display: none;
    }

    .header-nav {
        display: flex;
    }

    .header-logo-link {
        font-size: 18px;
        line-height: 1.11;   
        margin-right: 188px;     
    }

    .header-menu {
        display: inline-flex;
        align-items: center;
        gap: 24px;
       
        
    }

    .header-menu-link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;      
        letter-spacing: -0.02em;    
        color: #111111;
        transition: color 250ms linear;
    }

    .header-menu-link:hover,
    .header-menu-link:focus {
        color: #FD9222;
    }

    .header-soc-list {
        display: flex;
        gap: 18px;
        margin-left: auto;
    }
        
        

    .header-soc-link {        
        color: #111111;        
    }    
}

/* /HEADER */

/* HERO */

.hero {
    padding-bottom: 72px;
}

.hero-wrap {
    padding: 395px 20px 20px 20px;
    background-image: url(../images/hero/mobile-hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}

.hero-title {
    
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: -0.03em;
    color: var(--secondary-text-color);
    width: 290px;
    margin-bottom: 32px;
}

.second-button {
    background-color: transparent;
    border: 1px solid var(--decoration-color);
    margin-left: 14px;
    margin-bottom: 32px;
}

.scroll-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 18px;
}

.scroll-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    color: var(--secondary-text-color);
}

.scroll-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    color: var(--accent-color);
    background-color: var(--decoration-color);
    transition: background-color 250ms linear;
}

.scroll-btn-icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero-wrap {
        background-image: url(../images/hero/mobile-hero-bg@2x.jpg);
    }
}


@media screen and (min-width: 768px) {
    .hero {
            padding-bottom: 50px;
        }

    .hero-wrap {
        padding: 671px 40px 40px 40px;
        background-image: url(../images/hero/tablet-hero-bg.jpg);        
    }

    .hero-title {
        font-size: 28px;
        line-height: 1.21;
        width: 461px;
    }

    .button-wrap {
        display: flex;
        align-items: center;
    }

    .scroll-text {
        font-size: 14px;
        line-height: 1.29;        
    }

    .second-button {
        margin-bottom: 0;
    }

    .scroll-wrap {
        margin-left: auto;
    }    
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 767px),
screen and (min-resolution: 192dpi) and (min-width: 767px),
screen and (min-resolution: 2dppx) and (min-width: 767px) {
    .hero-wrap {
        background-image: url(../images/hero/tablet-hero-bg@2x.jpg);
    }
}

/* /HERO */

/* ADVANTAGES */

.advantages {
    background: #1E1823;
    padding-top: 29px;
    padding-bottom: 36px;
}

.advantages-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.advantages-title::before {
    content: "";
    display: flex;
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;
    margin-bottom: 22px;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: 32px 32px;
}

.icon-chocolate::before {
    background-image: url(../images/chocolate.svg);   
}

.icon-coin::before {
    background-image: url(../images/coin.svg);
}

.icon-spoon::before {
    background-image: url(../images/spoon.svg);
}

 
.advantages-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

.advantages-position-item:not(:last-child) {
    margin-bottom: 29px;
}

@media screen and (min-width: 768px) {
    .advantages-position {
        display: flex;
        flex-wrap: wrap;
        row-gap: 41px;
        column-gap: 60px;
    }

    .advantages-position-item {
        width: 308px;
    }

    .advantages-position-item:not(:last-child) {
        margin-bottom: 0;
    }
    
}

@media screen and (min-width: 1200px) {

    .advantages-position {
            column-gap: 88px;
    }

    .advantages-position-item {
            position: relative;
    }

    .advantages-position-item::after {
        content: "";
        width: 124px;
        height: 0;
        border: 1px solid rgba(255, 255, 255, 0.5);
        transform: rotate(90deg);
        position: absolute;
        top: 50%;
        right: -80px;
    }

    .advantages-position-item:last-child::after {
        display: none;
    }   
}


/* /ADVANTAGES */

/* Ingredients */

.ingredients {
    padding-top: 72px;
}

.ingredients-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    width: 283px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.ingredients-title-accent {
    color: #FD9222;;
}

.ingredients-text { 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: #111111;
    margin-bottom: 32px;
}


/* /Ingredients */

/* REVIEWS */



.reviews {
    padding-top: 72px;
    padding-bottom: 72px;
    background: #E2E2E2;
}

.reviews-container {
    text-align: center;
}

.reviews-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 32px;
}

.reviews-title-accent {
    color: #FD9222;
    margin-right: 3px;
}

.slider-inner {
    padding-top: 40px;
}

.reviews-wrap {
    position: relative;
    width: 280px;
    height: 180px;    
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
    border-radius: 15px;
    padding: 56px 18px 42px 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
}

.reviewer-photo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reviewer-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: #111111;
    margin-bottom: 14px;
}

.review-text {
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.review-btn {
    border: 1px solid #FD9222;
    background-color: transparent;
    color: #111111;
    margin-top: 30px;  
    transition: background-color 250ms linear, color 250ms linear; 
}

.review-btn:hover,
.review-btn:focus {
    background-color: #FD9222;
    color: #FFFFFF;
}

.slick-dots {
    margin-top: 0;
    margin-bottom: 0;
}

.slick-dots li button {
    width: 13px;
    height: 13px;
    background-color: rgba(17, 17, 17, 0.1);
    border-radius: 50%;
    
}

.slick-dots li button::before {
    display: none;
}

.slick-dots li.slick-active button {
    background-color: #FD9222;
    width: 28px;
    height: 13px;
    border-radius: 10px;
    
}

.slick-dots li {
    margin: 0 7px;
    width: auto;
    height: auto;
}
@media screen and (min-width: 375px) {
    .reviews-wrap {
        width: 335px;
        height: 200px;        
    }

    .reviewer-name {
       margin-bottom: 24px;
    }   
}

@media screen and (min-width: 768px) {
    .reviews {
        padding-top: 100px;
        padding-bottom: 100px;        
    }

    .reviews-title {
        margin-bottom: 50px;
    }

    .reviews-wrap {
        margin-bottom: 25px;
        width: 344px;
    }

    .review-btn {
        margin-top: 48px;
        font-size: 18px;
        line-height: 1.22;
        
    }
}

@media screen and (min-width: 1200px) {
    .reviews {
        padding-top: 128px;
        padding-bottom: 128px;
    }

    .reviews-wrap {
        margin-bottom: 25px;
        
    }

    
}

/* /REVIEWS */




/* MODAL REVIEW */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 100;
    opacity: 1;
    transition: opacity 250ms linear,
        visibility 250ms linear;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal-review {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal-review {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 311px;
    height: 471px;
    background-color: #FAFAFA;
    border-radius: 15px;
    padding: 32px 31px 32px 24px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms linear;
}

.modal-review-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 0;
    width: 24px;
    height: 24px;
    background: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-review-close-icon {
    width: 100%;
    height: 100%;
    stroke: #111111;
}

.modal-review-close-btn:hover .modal-review-close-icon,
.modal-review-close-btn:focus .modal-review-close-icon {
    stroke: #FD9222;
}


.modal-review-title {
    font-weight: 600;
    font-size: 21px;
    line-height: 1.2; 
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 32px;
}

.modal-review-accent-color {
    color: #FD9222;
    font-size: 20px;    
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.review-modal-form {
    display: flex;
    flex-direction: column;
}


.modal-review-field {
    position: relative;
}

.modal-review-field:not(:last-child) {
    margin-bottom: 14px;
}

.review-modal-input {
    width: 100%;
    height: 45px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
    border-radius: 8px;
    padding-left: 18px;
    color: #111111;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02emem;
    background-color: transparent;
    transition: border 250ms linear;
}

.review-modal-input:focus {
    outline: none;
    border: 1px solid #FD9222;
}

.review-modal-input::placeholder {
    font-weight: 400;
    color: rgba(64, 64, 64, 0.3);
}

.phone-input {
    padding-left: 100px;
}


.phone-code {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    display: inline-flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;              
    align-items: center;
    letter-spacing: -0.02em;
    color: #000000;  
}

.phone-code::before{
    content: "";
    display: block;
    width: 24px;
    height: 18px;
    background-image: url(../images/flag.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 8px;    
}

.phone-code::after {
    content: "";
    display: block;
    width: 1px;
    height: 25px;
    background-color: rgba(64, 64, 64, 0.3);
    margin-left: 8px;

}


.review-modal-message {
    resize: none;
    width: 100%;
    height: 90px;
    padding-top: 14px;
    padding-right: 18px;
}

.review-send-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    align-items: center;
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    border: transparent;
    border-radius: 100px;
    padding: 12px 28px;
    transition: background-color 250ms linear, color 250ms linear;
    margin-top: 12px;
}

.review-send-btn:hover,
.review-send-btn:focus {
    background-color: var(--bg-color);
    color: var(--accent-color);
} 

@media screen and (min-width: 768px) {
    .modal-review {
        width: 517px;
        height: 631px;
        padding: 40px;            
    }

    .modal-review-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 28px;
        height: 28px;
    }

    .modal-review-title {       
        font-size: 24px;
        line-height: 1.33;
        width: 298px;
        margin-bottom: 40px;
    }

    .modal-review-accent-color {
        font-size: 24px;
        line-height: 1.33;
    }

    .modal-review-field:not(:last-child) {
        margin-bottom: 19px;
    }

    .review-modal-input {
        height: 66px;
        border: 1.5px solid rgba(17, 17, 17, 0.05);       
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;  
        padding-left: 24px;
        border-radius: 13px;
    }

    .phone-input {
        padding-left: 177px;
    }

        .phone-code::before {
            content: "";
            display: block;
            width: 32px;
            height: 24px;         
            margin-right: 18px;
        }

        .phone-code {
            font-size: 18px;
            line-height: 1.22; 
            left: 24px;
        }

        .phone-code::after {
            content: "";
            width: 1px;
            height: 32px;            
            margin-left: 32px;

        }

        .review-modal-message {
            height: 137px;
            padding-top: 22px;
            padding-right: 24px;
        }  

        .review-send-btn {
            padding: 14px 40px;
            margin-top: 8px;
        }
}



/* /MODAL REVIEW */



/* Modal form Thank you!  */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 100;
    opacity: 1;
    transition: opacity 250ms linear,
        visibility 250ms linear;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal-thank {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal-thank {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 311px;
    height: 350px;  
    background-color: #FD9222;  
    background-image: url(../images/modal/mobile-modal-thank.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    border-radius: 15px;
    transition: transform 250ms linear;
    padding: 84px 24px 170px 68px;
}

.modal-thank-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 0;
    width: 28px;
    height: 28px;
    background: #FCF1E0;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms linear;
}

.modal-thank-close-icon {
    width: 16px;
    height: 16px;
    stroke: #F16529;
}

.modal-thank-close-btn:hover,
.modal-thank-close-btn:focus {
    background-color: #FFFFFF;
}

.modal-thank-close-btn:hover .modal-thank-close-icon,
.modal-thank-close-btn:focus .modal-thank-close-icon {
    stroke: #111111;
}

.modal-thank-title {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FCF1E0;
    margin-bottom: 8px;
}

.modal-thank-text {
    font-size: 14px;
    line-height: 1.14;   
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .modal-thank {
        background-image: url(../images/modal/mobile-modal-thank@2x.png);
    }
}

@media screen and (min-width: 768px) {
    .modal-thank {
        width: 516px;
        height: 414px;        
        background-image: url(../images/modal/tablet-modal-thank.png);
        padding: 154px 44px 154px 163px;
    }

    .modal-thank-close-btn {        
        top: 24px;
        right: 24px;        
        width: 40px;
        height: 40px;      
    }

    .modal-thank-close-icon {
        width: 22px;
        height: 22px;      
    }
    
    .modal-thank-title {
        font-size: 24px;
        line-height: 1.17;        
    }

    .modal-thank-text {
        font-size: 18px;
        line-height: 1.33;       
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .modal-thank {
        background-image: url(../images/modal/tablet-modal-thank@2x.png);
    }
}


/* Modal form Thank you review!  */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 100;
    opacity: 1;
    transition: opacity 250ms linear,
        visibility 250ms linear;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal-thank {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal-thank {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 311px;
    height: 350px;
    background-color: #FD9222;
    background-image: url(../images/modal/mobile-modal-thank.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    border-radius: 15px;
    transition: transform 250ms linear;
    padding: 84px 24px 178px 58px;
}

.modal-thank-close-btn {
    position: absolute;
    top: 14px;
    right: 14px;
    padding: 0;
    width: 28px;
    height: 28px;
    background: #FCF1E0;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms linear;
}

.modal-thank-close-icon {
    width: 16px;
    height: 16px;
    stroke: #F16529;
}

.modal-thank-close-btn:hover,
.modal-thank-close-btn:focus {
    background-color: #FFFFFF;
}

.modal-thank-close-btn:hover .modal-thank-close-icon,
.modal-thank-close-btn:focus .modal-thank-close-icon {
    stroke: #111111;
}

.modal-thank-title {
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FCF1E0;
    margin-bottom: 8px;
}

.modal-thank-review-text {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    width: 180px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .modal-thank {
        background-image: url(../images/modal/mobile-modal-thank@2x.png);
    }
}

@media screen and (min-width: 768px) {
    .modal-thank {
        width: 516px;
        height: 414px;
        background-image: url(../images/modal/tablet-modal-thank.png);
        padding: 154px 44px 154px 163px;
    }

    .modal-thank-close-btn {
        top: 24px;
        right: 24px;
        width: 40px;
        height: 40px;
    }

    .modal-thank-close-icon {
        width: 22px;
        height: 22px;
    }

    .modal-thank-title {
        font-size: 24px;
        line-height: 1.17;
    }

    .modal-thank-review-text {
        font-size: 18px;
        line-height: 1.33;
        width: auto;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .modal-thank {
        background-image: url(../images/modal/tablet-modal-thank@2x.png);
    }
}

