h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    max-width: 365px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 734px;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1166px;        
    }
}

/* Header */

.header {
    padding-top: 20px;
    padding-bottom: 14px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-logo-link {
    display: flex;
    gap: 4px;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    color: #111111;

           
}

.header-logo-style {
    font-style: italic;
}

.header-logo-chocolate-icon {
    width: 21px;
    height: 21px;
}

.header-mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: #111111;
    width: 28px;
    height: 28px;
}

@media screen and (max-width: 1199px) {
    .header-menu {
            display: none;
        }
    
        .header-soc-list {
            display: none;
        }
}

@media screen and (min-width: 768px) {

    .header {
            padding-top: 24px;
            padding-bottom: 24px;
        }


    .header-mobile-menu-open {
            width: 32px;
            height: 32px;
        }
    
}

@media screen and (min-width: 1200px) {
    .header {
        padding-bottom: 32px;
    }

    .header-container {
        justify-content: start;
    }
    
    .header-mobile-menu-open {
        display: none;
    }

    .header-logo-link {
        font-size: 18px;
        line-height: 1.11;   
        /* margin-right: 188px;      */
    }

    .header-menu {
        display: inline-flex;
        align-items: center;
        gap: 24px;
        /* margin-right: 137px; */
        
    }

    .header-menu-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;      
        letter-spacing: -0.02em;    
        color: #111111;
    }

    .header-soc-list {
        display: flex;
    }

    .header-soc-link-icon {
        width: 24px;
        height: 24px;
        gap: 18px;        
        
    }
}
